<div class="fab-speed-dial">
  <md-button id="ButtonIsLockOpenClose" ng-click="$ctrl.isLockOpenClose()" class="md-icon-button md-fab md-mini md-accent" aria-label="button isLockOpenClose">
    <md-icon md-font-set="material-icons">{{ $ctrl.iconLockOpenClose }}</md-icon>
    <md-tooltip md-direction="bottom">
      {{ $ctrl.tooltipLockOpenClose }}
    </md-tooltip>
  </md-button>
</div>
<md-sidenav class="md-sidenav-left md-whiteframe-5dp" md-is-locked-open="$ctrl.shouldLockOpenClose && $mdMedia('gt-xs')">
  <div layout-padding>
    <h3>Informações Auxiliares</h3>
  </div>
  <md-content layout="column">
    <div layout="column" layout-padding layout-align="start none" ng-repeat="option in $ctrl.variable">
      <div layout="column" layout-align="center start">
        <span class="md-caption" style="color: gray;">{{ option.label }}</span>
        <span class="md-subhead">{{ option.translatedValue }}</span>
      </div>
      <md-divider ></md-divider>
    </div>
  </md-content>
</md-sidenav>