<div id="survey-header">
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Aqui Vai o Nome do Formulário</span>
                <md-chips>
                    <md-chip>{{$ctrl.surveyIdentity.acronym}}</md-chip>
                </md-chips>
                <span class="md-subhead">Uma possível descrição básica do formulário.</span>
            </md-card-title-text>
        </md-card-title>

        <!-- <md-progress-linear ng-show="$ctrl.isLoading" md-mode="indeterminate"></md-progress-linear> -->
    </md-card>
</div>
