<md-content layout="column" ng-if="(true)" flex>
  <md-progress-circular ng-if="!$ctrl.ready" class="md-primary" md-diameter="70"></md-progress-circular>
  <div ng-if="$ctrl.ready" layout="column">

    <div id="header" layout="row" layout-padding>
      <otus-viewer-filters filters="$ctrl.filters"></otus-viewer-filters>
      <md-button ng-click="$ctrl.exit()">sair</md-button>
    </div>

    {{$ctrl.activityData.acronym}} - {{$ctrl.activityData.name}}
    <div layout="row">
      {{$ctrl.filters.state}}
      <md-list>
        <md-list-item layout="row" layout-align="center center" ng-repeat="item in $ctrl.activityData.itemContainer">
          <div flex="20"></div>
          <survey-item-view-template item="item" flex></survey-item-view-template>
          <div flex="20"></div>
        </md-list-item>
      </md-list>
    </div>

  </div>
</md-content>
