<div>
  <md-divider></md-divider>
  <div layout="row" layout-align="center center" layout-margin>
    <div layout="column" flex="70">
      <span>{{$ctrl.item.customID}}</span>
      <span>{{$ctrl.item.navigationState}}</span>
      <span ng-bind-html="$ctrl.item.label.ptBR.formattedText"></span>

      <div id="fillingBox" ng-if="$ctrl.item.isQuestion && $ctrl.item.isAnswered">

        <div id="answer" ng-if="$ctrl.item.hasAnswer" layout="column" layout-align="start start">

          <div ng-repeat="position in $ctrl.item.answer" layout="row" layout-margin>
            <div ng-repeat="gridText in position.positions" layout="column" flex layout-margin>
              <md-input-container flex>
                <div class="md-resize-wrapper">
                  <label>{{gridText.label.ptBR.formattedText}}</label>
                  <textarea ng-model="gridText.value" class="ng-dirty ng-valid-parse ng-touched" ng-disabled="true"></textarea>
                  <div class="md-resize-handle" style="touch-action: pan-y;"></div>
                  <div style="color: gray;" ng-bind-html="gridText.unit.ptBR.formattedText"></div>
                </div>
              </md-input-container>
            </div>
          </div>
        </div>

        <div id="metadata" ng-if="$ctrl.item.hasMetadata" layout-padding>metadata: {{$ctrl.item.metadata.label.ptBR.formattedText}}</div>
        <div id="comment" ng-if="$ctrl.item.hasComment" layout-padding>comment: {{$ctrl.item.comment}}</div>
      </div>

    </div>
    <div flex></div>
  </div>
</div>
