<div>
  <md-divider></md-divider>
  <div layout="row" layout-align="center center" layout-margin>
    <div layout="column" flex="70">
      <span>{{$ctrl.item.customID}}</span>
      <span>{{$ctrl.item.navigationState}}</span>
      <span ng-bind-html="$ctrl.item.label.ptBR.formattedText"></span>
      <div id="fillingBox" ng-if="$ctrl.item.isQuestion && $ctrl.item.isAnswered">
        <div id="answer" ng-if="$ctrl.item.hasAnswer">answer: {{$ctrl.item.answer}}</div>
        <div id="metadata" ng-if="$ctrl.item.hasMetadata">metadata: {{$ctrl.item.metadata.label.ptBR.formattedText}}</div>
        <div id="comment" ng-if="$ctrl.item.hasComment">comment: {{$ctrl.item.comment}}</div>
      </div>
    </div>
    <div flex></div>
  </div>
</div>
