
<style>

  @page {
    size: A4;
    margin: 0;
  }

  @media print {
    .page-break {
      height: 0;
      page-break-before: always;
      margin: 0;
      border-top: none;
    }
    .page {
      margin: 0;
      border: initial;
      border-radius: initial;
      width: initial;
      min-height: initial;
      box-shadow: initial;
      background: initial;
      page-break-after: always;
    }
  }
</style>
<div class="page">
  <md-divider></md-divider>
  <div layout="row" layout-align="start center">
        <div layout="row" layout-margin>
          <span class="md-title ng-binding" style="vertical-align: middle;">1</span>
          <md-icon md-font-set="material-icons" style="cursor: pointer">
            radio_button_checked
          </md-icon>
          <span>{{$ctrl.item.customID}}</span>
        </div>
      </div>
  <div layout="row" layout-align="center center" layout-margin>
    <div layout="column" flex="70">
      <span>{{$ctrl.item.navigationState}}</span>
      <span ng-bind-html="$ctrl.item.label.ptBR.formattedText"></span>
      <div id="fillingBox" ng-if="$ctrl.item.isQuestion && $ctrl.item.isAnswered">
        <div id="answer" ng-if="$ctrl.item.hasAnswer" layout-padding>{{$ctrl.item.answer}}</div>
        <div id="metadata" ng-if="$ctrl.item.hasMetadata" layout-padding>metadata: {{$ctrl.item.metadata.label.ptBR.formattedText}}</div>
        <div id="comment" ng-if="$ctrl.item.hasComment" layout-padding>comment: {{$ctrl.item.comment}}</div>
      </div>
    </div>
    <div flex></div>
  </div>
</div>