<div>
  <md-divider></md-divider>
  <div layout="column" layout-align="start start" layout-fill>
    <div layout="row" layout-padding>
      <span class="md-subhead" layout-padding>{{$ctrl.item.customID}}</span>
      <span layout-padding>|</span>
      <span layout-padding class="md-caption">{{$ctrl.item.navigationState}}</span>
    </div>
    <div layout="row" layout-padding>
      <span ng-bind-html="$ctrl.item.label.ptBR.formattedText"></span>
    </div>
    <div id="fillingBox" ng-if="$ctrl.item.isQuestion && $ctrl.item.isAnswered" layout-padding>
      <div id="answer" ng-if="$ctrl.item.hasAnswer" layout-fill>
        <p class="md-caption" style="color: gray;">Resposta</p>
        <md-radio-group tabindex="-1" ng-model="$ctrl.item.trueValue">
          <md-radio-button  ng-repeat="option in $ctrl.item.answer" ng-value="option.value" aria-label="option.label.ptBR.formattedText" ng-disabled="true">
            <span ng-bind-html="option.label.ptBR.formattedText"></span>
          </md-radio-button>
        </md-radio-group>
      </div>
      <div id="metadata" ng-if="$ctrl.item.hasMetadata" layout-fill>
        <p class="md-caption" style="color: gray;">Metadata</p>
        <p ng-bind-html="$ctrl.item.metadata.label.ptBR.formattedText"></p>
      </div>
      <div id="comment" ng-if="$ctrl.item.hasComment" layout-fill>
        <p class="md-caption" style="color: gray;">Comentário</p>
        <p ng-bind-html="$ctrl.item.comment"></p>
      </div>
    </div>
  </div>
</div>
