<div id="answer" ng-if="$ctrl.item.hasAnswer" layout-fill>
  <p class="md-caption" style="color: gray;">Resposta</p>
  <md-radio-group tabindex="-1" ng-model="$ctrl.item.trueValue">
    <md-radio-button ng-repeat="option in $ctrl.item.answer" ng-value="option.value"
                     aria-label="option.label.ptBR.formattedText" ng-disabled="true">
      <span ng-bind-html="option.label.ptBR.formattedText"></span>
    </md-radio-button>
  </md-radio-group>
</div>
<div id="metadata" ng-if="$ctrl.item.hasMetadata" layout-fill>
  <p class="md-caption" style="color: gray;">Metadata</p>
  <p ng-bind-html="$ctrl.item.metadata.label.ptBR.formattedText"></p>
</div>
<div id="comment" ng-if="$ctrl.item.hasComment" layout-fill>
  <p class="md-caption" style="color: gray;">Comentário</p>
  <p ng-bind-html="$ctrl.item.comment"></p>
</div>
    