<md-card>
    <md-card-content>
        <div layout="row">
            <div layout="row" layout-align="start center">
                <md-chips>
                    <md-chip>{{$ctrl.surveyIdentity.acronym}}</md-chip>
                </md-chips>
                <span class="md-subhead">
                    {{$ctrl.surveyIdentity.name}}
                </span>
            </div>

            <span flex></span>

            <div layout="row" layout-align="start down">
                <md-input-container >
                    <label>Realização</label>
                    <input ng-model="$ctrl.realizationDate" disabled>
                </md-input-container>

                <md-input-container>
                    <label>Entrevistador(a)</label>
                    <input ng-model="$ctrl.interviewer" disabled>
                </md-input-container>
            </div>
        </div>
        <div layout="row">
            <span class="md-body-1">
                    {{$ctrl.surveyIdentity.description}}
            </span>
        </div>
    </md-card-content>
</md-card>
