<md-card flex layout="column">
  <md-toolbar layout="row" ng-class="$ctrl.hueClass">
    <md-icon ng-show="!$ctrl.view" md-font-set="material-icons" class="material-icons ng-binding md-layoutTheme-theme" layout="column" flex="10" layout-align="center center">{{$ctrl.icon}}</md-icon>
    <md-card-header-text ng-show="!$ctrl.view" layout="column" layout-fill class="truncate" ng-show="!$ctrl.view" flex="70">
      <otus-label ng-class="$ctrl.txtqst" class="md-title truncate" item-label="$ctrl.label" style="display: inline-block;"></otus-label>
      <span class="md-subhead" class="truncate" style="display: inline-block; ">{{$ctrl.answer}}</span>
      <span class="md-subhead">{{$ctrl.comment}}</span>
    </md-card-header-text>
    <div class="md-toolbar-tools" layout="row" flex layout-align="center center">
      <md-button class="md-icon-button" ng-class="$ctrl.fadeleft" ng-show="$ctrl.view" ng-click="$ctrl.viewQuestion()" >
        <md-icon md-font-set="material-icons" class="material-icons ng-binding md-layoutTheme-theme">remove_red_eye</md-icon>
        <md-tooltip md-direction="down">
          Visualizar questão
        </md-tooltip>
      </md-button>
      <h4 flex md-truncate ng-show="$ctrl.view" flex style="margin: 0 !important;">Modo de visualização</h4>
      <span flex ng-show="!$ctrl.view"></span>
      <md-button class="md-icon-button" ng-class="$ctrl.fadeRight" ng-show="!$ctrl.view" ng-click="$ctrl.viewQuestion()"  >
        <md-icon md-font-set="material-icons" class="material-icons ng-binding md-layoutTheme-theme">remove_red_eye</md-icon>
        <md-tooltip md-direction="down">
          Visualizar questão
        </md-tooltip>
      </md-button>
      <md-button class="md-icon-button" ng-click="$ctrl.goingBack()" ng-show="!$ctrl.isItem()">
        <md-icon md-font-set="material-icons" class="material-icons ng-binding md-layoutTheme-theme">edit</md-icon>
        <md-tooltip md-direction="down">
          Editar questão
        </md-tooltip>
      </md-button>
    </div>
  </md-toolbar>
  <div ng-show="$ctrl.view">
    <md-card-header layout="row" flex>
      <md-card-header-text layout-align="center start" ng-show="$ctrl.view" layout-padding layout-margin>
        <otus-label class="md-title md-headline" layout-padding item-label="$ctrl.labelFormatted"></otus-label>
      </md-card-header-text>
    </md-card-header>

    <md-card-content layout="row" layout-align="space-between" flex>
      <otus-misc-item ng-show="$ctrl.isItem() && ($ctrl.itemData.objectType === 'ImageItem')" item-data="$ctrl.itemData" layout="column" flex></otus-misc-item>
      <md-content ng-show="!$ctrl.isItem()" layout="column" layout-fill="" flex>
        <div layout="row" flex>
          <md-tabs md-dynamic-height layout="column" flex=95>
            <md-tab label="Resposta">
              <md-content class="md-padding" bind-html-compile="$ctrl.template"></md-content>
            </md-tab>
            <md-tab label="Metadado">
              <md-content class="md-padding">
                <md-content layout-padding style="margin-left: 10px">
                  <md-radio-group id="metadataGroupRadioGroup" ng-model="$ctrl.itemData.data.metadata.value" layout-padding
                                  flex>
                    <md-content value="{{option.value}}" ng-repeat="option in $ctrl.itemData.metadata.options" layout="row" style="margin: 10px">
                      <md-radio-button aria-label="{{option.label}}"  value="{{option.value}}" style="outline: none;border: 0;"
                                       flex ng-disabled="true">
                        <otus-label item-label="option.label.ptBR.formattedText"></otus-label>
                      </md-radio-button>
                    </md-content>
                  </md-radio-group>
                </md-content>
              </md-content>
            </md-tab>
            <md-tab label="Comentário">
              <md-content class="md-padding">
                <md-content layout-padding>
                  <div layout="row">
                    <md-input-container md-no-float class="md-block" flex>
                      <textarea ng-model="$ctrl.itemData.data.comment" ng-disabled="true" aria-label="Comentário"></textarea>
                    </md-input-container>
                  </div>
                </md-content>
              </md-content>
            </md-tab>
          </md-tabs>

        </div>
      </md-content>
    </md-card-content>
  </div>
</md-card>
