<div class="md-padding" ng-cloak>
  <md-dialog-content>
    <h2 class="md-title">Questão fora dos limites estabelecidos</h2>
    <p class="md-body-1">Você deseja <b>ignorar a validação</b> e aceitar a resposta?</p>
  </md-dialog-content>
  <md-dialog-actions>
    <md-button class="md-raised" ng-click="controller.cancel({ action: 'cancel' })">Cancelar</md-button>
    <md-button class="md-raised md-primary" aria-label="Aceitar resposta" ng-click="controller.event({ action: 'true' })">Aceitar</md-button>
  </md-dialog-actions>
</div>
