<md-card flex>
    <md-card-title>
        <md-card-title-text layout="column" flex>
            <div layout="row">
                <otus-label class="md-headline" item-label="$ctrl.itemData.label.ptBR.formattedText" flex layout-padding></span>
            </div>
        </md-card-title-text>
    </md-card-title>

    <md-card-content layout="row" layout-align="space-between">
        <otus-question ng-if="$ctrl.isQuestion()" on-update="$ctrl.update(valueType, value)" item-data="$ctrl.itemData" layout="column" flex></otus-question>
        <otus-misc-item ng-if="$ctrl.isItem()" item-data="$ctrl.itemData" layout="column" flex></otus-misc-item>
    </md-card-content>
    <div ng-messages="$ctrl.$error" ng-messages-multiple role="alert">
        <span ng-message="mandatory">Questão deve ser obrigatória</span>
        <span ng-message="distinct">Insira um valor diferente de (data.reference)</span>
        <span ng-message="lowerlimit">O valor deve ser menor que (data.reference)</span>
        <span ng-message="upperlimit">O valor deve ser maior que (data.reference)</span>
        <span ng-message="ragedate">O valor deve ser maior que (data.initial) e menor que (data.end)</span>
        <span ng-message="maxDate">A data deve ser menor que (data.reference)</span>
        <span ng-message="minDate">A data deve ser maior que (data.reference)</span>
        <span ng-message="pastDate">A data deve ser anterior a data atual</span>
        <span ng-message="futureDate">A data deve ser posterior a data atual</span>
        <span ng-message="minLength">Caracteres devem ter número maior que (data.size)</span>
        <span ng-message="maxLength">Caracteres devem ter número menor que (data.size)</span>
        <span ng-message="in">O valor deve ser maior que (data.initial) e menor que (data.end)</span>
        <span ng-message="precision">Número total de digitos deve ser</span>
        <span ng-message="scale">Número de casas após a virgula deve ser</span>
        <span ng-message="alphanumeric">Questão não aceita caracteres alphanumericos</span>
        <!-- <span ng-message="lowerCase">teste</span> -->
        <!-- Já será convertido para maiuscula ou minuscula -->
        <!-- <span ng-message="upperCase">teste</span> -->
        <!-- <span ng-message="specials">teste</span> -->
        <span ng-message="maxTime">Tempo máximo permitido é data.reference</span>
        <span ng-message="minTime">Tempo minimo permitido é data.reference</span>
    </div>

</md-card>
