<md-card flex>
    <md-card-title>
        <md-card-title-text layout="column" flex>
            <otus-label class="md-headline" item-label="$ctrl.itemData.templateID.concat('&nbsp;&nbsp;')"></otus-label>
            <otus-label class="md-headline" item-label="$ctrl.itemData.label.ptBR.formattedText"></span>
        </md-card-title-text>

        <md-card-actions layout="column" flex="5" layout-align="center center">
            <md-button class="md-icon-button" aria-label="Apagar resposta" ng-click="$ctrl.restoreAll()">
                <md-icon md-svg-icon="eraser"></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Confirmar resposta" ng-click="$ctrl.confirmAnswer()">
                <md-icon md-svg-icon="check"></md-icon>
            </md-button>
        </md-card-actions>
    </md-card-title>

    <md-card-content layout="row" layout-align="space-between">
        <otus-question ng-if="$ctrl.isQuestion()" on-update="$ctrl.update(valueType, value)" item-data="$ctrl.itemData" layout="column" flex></otus-question>
        <otus-misc-item ng-if="$ctrl.isItem()" item-data="$ctrl.itemData" layout="column" flex></otus-misc-item>
    </md-card-content>
</md-card>
