<md-content class="cover-content" layout-align="center center" layout="row" flex>
  <div layout-align="center center" layout="column" flex>
    <section>
      <h2 class="md-display-1">{{ $ctrl.title }}</h2>
    </section>
    <div ng-if="$ctrl.errorBlock" layout="row">
      <md-icon md-font-set="material-icons">warning</md-icon>
      <span class="md-body-2" layout-padding>
      {{ $ctrl.message }}
    </span>
    </div>
    <div layout="row">
      <md-button class="md-raised md-primary" aria-label="Iniciar" ng-click="$ctrl.play()" ng-disabled="$ctrl.block">
        <md-icon md-font-set="material-icons">assignment</md-icon>
        Iniciar
      </md-button>
      <md-button class="md-raised md-no-focus" aria-label="Sair" ng-click="$ctrl.stopError()" ng-if="$ctrl.errorBlock">
        <md-icon md-font-set="material-icons">exit_to_app</md-icon>
        Sair
      </md-button>
    </div>
    <md-progress-circular md-primary md-mode="indeterminate" ng-show="$ctrl.progress"></md-progress-circular>
  </div>
</md-content>