<div layout="column" layout-align="start start"
     ng-repeat="item in $ctrl.itemData.members">
  <md-card flex>
    <md-card-title layout="row" ng-if="!$ctrl.isItem()">
      <md-card-title-text layout="column" flex>
        <div layout="row">
          <otus-label class="md-headline" item-label="item.label.ptBR.formattedText" flex layout-padding>
        </div>
      </md-card-title-text>
    </md-card-title>
    <md-card-content layout="row" layout-align="space-between" flex>
      <otus-question ng-if="$ctrl.isQuestion()" on-update="$ctrl.update(questionID, valueType, value)" item-data="item" layout="column" flex></otus-question>
      <otus-misc-item ng-if="$ctrl.isItem()" item-data="item" layout="column" flex></otus-misc-item>
    </md-card-content>
    <otus-validation-error error="$ctrl.$error" layout="row"></otus-validation-error>
  </md-card>
</div>
