<md-content layout-padding layout="row">
  <md-toolbar style="border-radius: 3px" class="md-whiteframe-2dp">
    <div class="md-toolbar-tools" layout-align="space-around center">
      <md-button class="md-icon-button" aria-label="Voltar" ng-click="$ctrl.goBack()" ng-disabled="$ctrl.isGoBackDisabled">
        <md-icon md-font-set="material-icons">skip_previous</md-icon>
      </md-button>
      <md-button class="md-icon-button" aria-label="Salvar" ng-click="$ctrl.pause()">
        <md-icon md-font-set="material-icons">pause</md-icon>
      </md-button>
      <md-button class="md-icon-button" aria-label="Cancelar" ng-click="$ctrl.stop()">
        <md-icon md-font-set="material-icons">stop</md-icon>
      </md-button>
      <md-button class="md-icon-button" aria-label="Avançar" ng-click="$ctrl.goAhead()" ng-disabled="$ctrl.isGoAheadDisabled">
        <md-icon md-font-set="material-icons">skip_next</md-icon>
      </md-button>
    </div>
  </md-toolbar>
</md-content>
