#activity-viewer {
  background-color: #fafafa;

}

html {
  overflow-y: hidden !important;
}

#activity-viewer #sheet {
  margin:auto;
  background-color: white;
  border: 1px solid #D8D6D6;
  margin-bottom: 10px;
  margin-top:10px;
  padding: 10mm;
  max-width: 210mm;
  min-height: 297mm !important;
  height: 100% !important;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(181, 181, 181, 0.35);
  -moz-box-shadow: 0px 0px 2px 2px rgba(181, 181, 181, 0.35);
  box-shadow: 0px 0px 2px 2px rgba(181, 181, 181, 0.35);
  padding-bottom: 180px;
}

#fillingBox {
  margin-left: 15px;
}

@media (max-width: 210mm) {
  #activity-viewer #sheet {
    width:100%;
  }
}

@media print {
  .no-print {
    display: none;
  }
}

.caption-sheet {
  color: rgba(126, 126, 126, 1);
  font-size: small;
}

.hidden {
  visibility: hidden;
}