#activity-viewer .page-item {
  border-top: 0.5px solid lightgray;
}
#activity-viewer .viewer-commands {
  position:fixed; bottom:0;
}

#activity-viewer #sheet {
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10mm;
  max-width: 210mm;
  min-height: 297mm !important;
}

#activity-viewer #fillingBox {
  margin-left: 15px;
}

#activity-viewer .hidden {
  visibility: hidden;
}

@page {
  size: A4;
  background-color: white !important;
}

@media (max-width: 210mm) {
  #activity-viewer #sheet {
    width: 100%;
    height: 297mm;
    background-color: white !important;
  }
}

@media print {
  body {
    background-color: white;
  }
  #activity-viewer {
    width: 210mm !important;
    height: 297mm !important;
    background-color: white !important;
  }

  #activity-viewer #sheet {
    margin: 0;
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    padding: initial;
    background-color: white !important;
  }

  .page-break {
    page-break-inside: avoid;
    background-color: white !important;
  }

  .no-print {
    display: none;
  }
}


