md-icon[md-svg-icon="eraser"] {
  color: #FF7B1C
}

md-icon[md-svg-icon="check"] {
  color: green
}


/* SURVEY HEADER */

otus-survey-header {
  color: #727272;
}

otus-survey-header md-chips-wrap {
  box-shadow: 0 0px !important;
}


/* SURVEY ITEM */

otus-survey-item {
  transition: opacity 2s linear;
}

.truncate {
  flex: 1;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fade-out { opacity: 0; transition: 0s!important; }
.fade-in { opacity: 1; transition: 1s!important; }
.txtqst {width: 100%!important; margin-top:2%!important;}
.fab-speed-dial {
  z-index: 70;
  position: fixed;
  top: 65px;
  left: 15px;
}

otus-static-variable {
  max-height: 89%;
}
otus-static-variable div md-content {
  max-height: 100%;
}

@media screen and (max-width: 600px) {
  .fab-speed-dial {
    top: 20%;
    left: 2px;
  }
  otus-static-variable {
    max-height: 60%;
  }
}
