<md-content layout-padding style="margin-left: 10px">
    <md-radio-group id="metadataGroupRadioGroup" ng-model="$ctrl.metadata" ng-change="$ctrl.update()" layout-padding flex>
        <md-content value="{{option.value}}" ng-repeat="option in $ctrl.itemData.metadata.options" layout="row" style="margin: 10px">
            <md-radio-button aria-label="{{option.label}}" ng-click="$ctrl.blurOnClick()" value="{{option.value}}" style="outline: none;border: 0;" flex>
                <otus-label item-label="option.label.ptBR.formattedText"></otus-label>
            </md-radio-button>
        </md-content>
    </md-radio-group>
</md-content>
