<md-content class="custom-whiteframe" layout="column">
    <!-- cabeçalho do item -->
    <md-content layout-align="start center" style="padding: 0" flex>
        <md-content layout="row">
            <md-content layout-padding layout-align="start center" flex>
                <label>{{$ctrl.itemData.label.ptBR.formattedText}}</label>
            </md-content>
            <md-button tooltip="Limpar resposta">
                <md-icon md-svg-icon="eraser" aria-label="Limpar resposta"></md-icon>
            </md-button>
        </md-content>
    </md-content>
    <!-- item -->
    <md-content layout="column">
        <md-tabs>
            <md-tab label="Resposta">
                <calendar-question ng-if="$ctrl.isCalendarQuestion()"></calendar-question>
                <integer-question item-data="$ctrl.itemData" ng-if="$ctrl.isIntegerQuestion()"></integer-question>
                <decimal-question item-data="$ctrl.itemData" ng-if="$ctrl.isDecimalQuestion()"></decimal-question>
                <single-selection-question item-data="$ctrl.itemData" ng-if="$ctrl.isSingleSelectionQuestion()"></single-selection-question>
                <text-question item-data="$ctrl.itemData" ng-if="$ctrl.isTextQuestion()"></text-question>
                <email-question item-data="$ctrl.itemData" ng-if="$ctrl.isEmailQuestion()"></email-question>
                <time-question item-data="$ctrl.itemData" ng-if="$ctrl.isTimeQuestion()"></time-question>
                <phone-question item-data="$ctrl.itemData" ng-if="$ctrl.isPhoneQuestion()"></phone-question>
                <checkbox-question item-data="$ctrl.itemData" ng-if="$ctrl.isCheckboxQuestion()"></checkbox-question-question>
            </md-tab>
            <md-tab label="Metadado">
                <metadata-group item-data="$ctrl.itemData"></metadata-group>
            </md-tab>
            <md-tab label="Comentário">
                <md-content>Comentário</md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</md-content>
</br>
</md-content>
