<md-content class="custom-whiteframe" layout="column">
    <!-- cabeçalho do item -->
    <md-content layout-align="start center" style="padding: 0" flex>
        <md-content layout="row">
            <otus-label item-label="$ctrl.itemData.templateID"></otus-label>
            <otus-label item-label="$ctrl.itemData.label"></otus-label>
            <md-button tooltip="Limpar resposta">
                <md-icon md-svg-icon="eraser" aria-label="Limpar resposta"></md-icon>
            </md-button>
        </md-content>
    </md-content>
    <!-- item -->
    <md-content layout="column">
        <md-tabs>
            <md-tab label="Resposta">
                <md-content bind-html-compile="$ctrl.template"></md-content>
            </md-tab>
            <md-tab label="Metadado">
                <metadata-group item-data="$ctrl.itemData"></metadata-group>
            </md-tab>
            <md-tab label="Comentário">
                <md-content>Comentário</md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</md-content>
</br>
</md-content>
