<md-content class="custom-whiteframe" layout="column">
    <!-- cabeçalho do item -->
    <md-content layout-align="start center" style="padding: 0" flex>
        <md-content layout="row">
            <md-content layout-padding layout-align="start center" flex>
                <label>{{$ctrl.itemData.label.ptBR.formattedText}}</label>
            </md-content>
            <md-button tooltip="Limpar resposta">
                <md-icon md-svg-icon="eraser" aria-label="Limpar resposta"></md-icon>
            </md-button>
        </md-content>
    </md-content>
    <!-- item -->
    <md-content layout="column">
        <md-tabs>
            <md-tab label="Resposta">
                <calendar-question ng-if="$ctrl.isCalendarQuestion()"></calendar-question>
            </md-tab>
            <md-tab label="Metadado">
                <md-content layout-padding>
                    <md-radio-group>
                        <md-content ng-repeat="metadata in $ctrl.itemData.metadata.options" layout="row" style="margin: 10px">
                            <md-radio-button value="{{metadata.value}}" flex>{{metadata.label.ptBR.formattedText}}</md-radio-button>
                        </md-content>
                    </md-radio-group>
                </md-content>
            </md-tab>
            <md-tab label="Comentário">
                <md-content>Comentário</md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</md-content>
</br>
</md-content>
