<md-content layout-padding>
    <div layout="row">
        <md-input-container md-no-float class="md-block" flex-gt-sm="45">
            <input type="number" step="1" ng-model="$ctrl.answer" ng-change="$ctrl.update()" ng-if="!$ctrl.mobileInput"ui-integer placeholder="Insira um valor inteiro" ng-disabled="$ctrl.view" />
            <input type="number" step="1" ng-model="$ctrl.answer" ng-change="$ctrl.update()" ng-if="$ctrl.mobileInput" placeholder="Insira um valor inteiro" ng-disabled="$ctrl.view" />
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm="45">
            <otus-label item-label="$ctrl.itemData.unit"></otus-label>
        </md-input-container>
    </div>
</md-content>
